.box,
.imperative-box {
  height: 50px;
  margin: 8px;
  background-color: lightgrey;
  box-sizing: content-box;
  border: transparent solid 1px;
}

.imperative-box {
  display: inline-block;
}

.slider-item,
.circle-item {
  height: 50px;
  margin: 8px;
  display: inline-block;
  background-color: lightgrey;
  box-sizing: content-box;
  border: transparent solid 1px;
}

.circle-item {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.focused {
  border: red solid 1px;
}
